h1 {
  /* margin-top: -15px; */
  margin-left: 30%;
  font-family: 'Charm', cursive;
  font-size: 80px;
  text-decoration: underline;
  text-shadow:2px 2px 8px black;
}
h2{
  font-family: 'Charm', cursive;
}

.container {
  background-color: inherit;
}
#left, #right{;
  background: rgba(46, 40, 35, 0.7);
  border:5px solid #6C5A45;
  /* background-color: brown;
  background-opacity:0.5; */
  /* opacity:0.5; */
}
#left{
  /* margin-left: 10px; */
}
#right {
  height:600px;
  margin-left: -30px;
}
hr {
  border-width: 6px;
}

#like,#dislike{

  width:40px;
  height:30px;
}
.quoteWords{
  font-family: 'Kaushan Script', cursive;
  font-size: 30px;
}
.quote{
  border-radius: 5px;
}
